<toolbar-edit title="{{vm.title}}" save="vm.save()" back="vm.back()" operation-type="vm.operationType" form-validator="inputForm.$invalid" ></toolbar-edit>
<md-content class="layout-padding" flex>
  <form name="inputForm" novalidate>
    <div class="md-whiteframe-z1 marginAll16">
        <md-toolbar class="md-cyan-theme">
            <div class="md-toolbar-tools">
                <h2>Dados pessoais</h2>
            </div>
        </md-toolbar>
        <md-content layout-padding ng-cloak>
          <div layout="row">
            <div class="profilePicThumb">
              <img src="assets/images/foto.png" />
            </div>
            <div>
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                  <label>Nome</label>
                  <input type="text" name="name" required md-maxlength="100" maxlength="100" ng-model="vm.tempData.name"/>
                  <ng-messages for="inputForm.name.$error">
                    <ng-message when="required">
                      O Nome é obrigatório
                    </ng-message>
                    <ng-message when="md-maxlength">
                      Não é permitido mais de 100 caracteres
                    </ng-message>
                  </ng-messages>
                </md-input-container>
                <md-input-container>
                  <label>Data dew nascimento</label>
                  <input type="date" mdp-date-picker ng-model="vm.tempData.birthday" />
                </md-input-container>
              </div>
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                  <label>RG</label>
                  <input type="text" name="rg" required maxlength="50" ng-model="vm.tempData.rg"/>
                  <ng-messages for="inputForm.rg.$error">
                    <ng-message when="required">
                      O Nome é obrigatório
                    </ng-message>
                    <ng-message when="md-maxlength">
                      Não é permitido mais de 50 caracteres
                    </ng-message>
                  </ng-messages>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                  <label>CPF</label>
                  <input type="text" name="cpf" required maxlength="14" ng-model="vm.tempData.cpf"/>
                  <ng-messages for="inputForm.cpf.$error">
                    <ng-message when="required">
                      O Nome é obrigatório
                    </ng-message>
                    <ng-message when="md-maxlength">
                      Não é permitido mais de 14 caracteres
                    </ng-message>
                  </ng-messages>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                  <label>Estado Civil</label>
                  <md-select ng-model="vm.tempData.maritalStatus">
                    <md-option ng-repeat="item in vm.maritalStatus" value="{{item.value}}">
                      {{item.description}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
          </div>
        </md-content>
    </div>
    <div class="md-whiteframe-z1 marginAll16">
        <md-toolbar class="md-cyan-theme">
            <div class="md-toolbar-tools">
                <h2>Endereço e telefone</h2>
            </div>
        </md-toolbar>
        <md-content layout-padding ng-cloak>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Logradouro</label>
              <input type="text" name="place" required md-maxlength="100" maxlength="100" ng-model="vm.tempData.address.place"/>
              <ng-messages for="inputForm.place.$error">
                <ng-message when="required">
                  O Numero é obrigatório
                </ng-message>
                <ng-message when="md-maxlength">
                  Não é permitido mais de 100 caracteres
                </ng-message>
              </ng-messages>
            </md-input-container>
            <md-input-container>
              <label>Numero</label>
              <input type="text" name="number" required maxlength="6" ng-model="vm.tempData.address.number"/>
              <ng-messages for="inputForm.number.$error">
                <ng-message when="required">
                  O Numero é obrigatório
                </ng-message>
              </ng-messages>
            </md-input-container>
            <md-input-container>
              <label>Complemento</label>
              <input type="text" name="complement" required  maxlength="10" ng-model="vm.tempData.address.complement"/>
              <ng-messages for="inputForm.complement.$error">
                <ng-message when="required">
                  O Complemento é obrigatório
                </ng-message>
              </ng-messages>
            </md-input-container>
          </div>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Bairro</label>
              <input type="text" name="neighborhood" required maxlength="50" ng-model="vm.tempData.address.neighborhood"/>
              <ng-messages for="inputForm.neighborhood.$error">
                <ng-message when="required">
                  O Bairro é obrigatório
                </ng-message>
                <ng-message when="md-maxlength">
                  Não é permitido mais de 50 caracteres
                </ng-message>
              </ng-messages>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Cidade</label>
              <input type="text" name="city" required maxlength="50" ng-model="vm.tempData.address.city"/>
              <ng-messages for="inputForm.city.$error">
                <ng-message when="required">
                  O Nome é obrigatório
                </ng-message>
                <ng-message when="md-maxlength">
                  Não é permitido mais de 14 caracteres
                </ng-message>
              </ng-messages>
            </md-input-container>
            <md-input-container  class="md-block" flex-gt-xs>
              <label>Estado</label>
              <md-select ng-model="vm.tempData.address.state">
                <md-option ng-repeat="item in vm.states" value="{{item.value}}">
                  {{item.description}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Telefone</label>
              <input type="text" name="phone1"  maxlength="11" ng-model="vm.tempData.phone1"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Telefone</label>
              <input type="text" name="phone2"  maxlength="11" ng-model="vm.tempData.phone2"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Telefone</label>
              <input type="text" name="phone3"  maxlength="11" ng-model="vm.tempData.phone3"/>
            </md-input-container>
          </div>
        </md-content>
      </div>

      <div class="md-whiteframe-z1 marginAll16">
          <md-toolbar class="md-cyan-theme">
              <div class="md-toolbar-tools">
                  <h2>Informações complementares</h2>
              </div>
          </md-toolbar>
          <md-content layout-padding ng-cloak>
            <div layout-gt-xs="row">
              <md-input-container  class="md-block" flex-gt-xs>
                <label>Forma de recebimento</label>
                <md-select ng-model="vm.tempData.receiveType">
                  <md-option ng-repeat="item in vm.receives" value="{{item.value}}">
                    {{item.description}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container>
                <label>Data de recebimento</label>
                <input type="date" mdp-date-picker ng-model="vm.tempData.receiveDate" />
              </md-input-container>
            </div>
          </md-content>
        </div>

  </form>
</md-content>
