html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
body,
body > div {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

img.avatar {
  margin-right: 20px;
}

img.avatar {
  margin-top: 10px;
}

.avatar {
  position:relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;

}



body > div {
    height: 100%;
}
.bg-image {
    background-image: url('images/logo-igreja.png');
    background-repeat: no-repeat;
    background-position: center;
}
.nav-header {
    flex-shrink: 0;
    z-index: 2;
}

.nav-header h1,
.nav-header h4 {
    color: white;
    text-align: center;
}

.nav-header a.logo {
    text-decoration: none;
}
.full-heigth {
    height: -moz-calc(100% - 64px);
    height: -webkit-calc(100% - 64px);
    height: calc(100% - 64px);
}

.dialog-95 {
    width: 95%;
    height: auto;
}

.maginl1{
  margin-left: 1% !important;
}
.opacity80{
  opacity: 0.8;
}


.searchToolbar div.md-toolbar-tools md-input-container{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  padding: 2px 2px 26px;
}

.searchToolbar div.md-toolbar-tools md-input-container input::-webkit-input-placeholder {
   color: #1C4E5E;
}

.searchToolbar div.md-toolbar-tools md-input-container input:-moz-placeholder {
   color: #1C4E5E;
}

.searchToolbar div.md-toolbar-tools md-input-container input::-moz-placeholder {
   color: #1C4E5E;
}

.searchToolbar div.md-toolbar-tools md-input-container input:-ms-input-placeholder {
   color: #1C4E5E;
}
.full-width{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.marginAll16 {
    margin: 16px;
}
.profile-image{
    cursor:default;
    position:relative;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-decoration:none;
    z-index:0;
}
.profile-image .profile-image-image{
    margin-top: 0 !important;
}
.profile-image .change-text{
    background:#000;
    bottom:0;
    color:#fff;
    display:none;
    font-weight:700;
    height:30px;
    left:0;
    line-height:30px;
    position:absolute;
    right:0;
    text-align:center;
    width:100%;
    z-index:3;
    top: 50%;
    margin-top: -26px;
}
.profile-image.ed{
    cursor:pointer;
}

.profile-image.ed img{
  width: 168px;
  height: 168px;
}

.profile-image.ed:hover .change-text{
    display:block;
    text-decoration:underline;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    /* Your CSS here */
    display: none;
    -webkit-appearance: none;
}
input[type="date"]::-webkit-inner-spin-button {
    /* Your CSS here */
    display: none;
    -webkit-appearance: none;
}
.autocomplete-custom-template .item-title, .autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}

md-input-container.requiredAsterisk label:after,
div.requiredAsterisk label:after,  
md-autocomplete.requiredAsterisk label:after{
  color: red;
  content:"*";
}
